:root {
  font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  /* color-scheme: light dark; */

  --text-main: #1f2937;
  --text-status: #1f2937;
  --light: #ffeb54;
  --background: #eeeeee;
  --border-status: #939ba8b3;
  --border: #939ba8;
  --some-color: #242424;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

[data-theme="night"] {
  --text-main: #dce0ea;
  --text-status: #111827;
  --light: #ffe62b;
  --background: #0b1120;
  --border-status: #2a2e32ee;
  --border: #33383d;
}

.status-container[data-status="false"] {
  --light: #eeeeee;
  --text-status: #6b7280cf;
  box-shadow: none;
}
[data-theme="night"] .status-container[data-status="false"] {
  --light: #0b1120;
  --text-status: #a8acb1d8;

  box-shadow: none;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  min-width: 320px;
  min-height: 100svh;
  color: var(--text-main);
  background-color: var(--background);
}

#app {
  max-width: 600px;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 0 auto;
  padding: 1rem;
}

h1 {
  font-size: 1.5rem;
  line-height: 1;
}

.status-container {
  color: var(--text-status);
  width: 100%;
  margin: 1rem 0 2.5rem;
  padding: 1.5rem;
  text-align: center;
  border: solid 8px var(--border-status);
  border-radius: 10px;
  background-color: var(--light);
  box-shadow: 0 0 20px -6px var(--light);
}
.status-info {
  font-size: 3.2rem;
  font-weight: bold;
  margin: 1.5rem 0 0rem 0;
}
.status-last-check {
  font-weight: bold;
}
.message {
  font-style: italic;
  min-height: 1.5rem;
}

.history-container {
  width: 100%;
}

ul {
  list-style: none;
}

.weekday {
  border-bottom: dashed 2px var(--border);
}

body,
.status-container,
.weekday {
  transition:
    background-color 0.75s ease,
    color 0.75s ease,
    border-color 0.75s ease,
    box-shadow 0.75s ease;
}
